.card-title.classroom {
    height: 80px;
    border-radius: 5px;
    border: 1px solid rgb(22, 22, 22);
}

.nameofSubject:hover {
    text-decoration: underline;
}

.joinRoomBtn:hover {
    text-decoration: underline;

}

.classroomDetailHeader {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.overlay-text2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.commentPost {
    width: 600px;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.btnCommentPost {
    border: 2px solid #73eda0;
    width: 70px;
    color: #0fe45d;
    border-radius: 15px;
    background-color: white;
}

.btnCommentPost:hover {
    background-color: #73eda0;
    color: #090909;
}

.infoTeacherPost {
    margin-left: 10px;
}

.infoTeacherPost p {
    font-size: 13px;
}

.file-display a {
    color: black;
}

.file-display a:hover {
    text-decoration: underline;
    color: #59a9ef;
}

.post-classroom {
    border: 1px solid #090909;
}

.event-classroom {
    border: 1px solid #090909;
}


.btnEditPost:hover {
    background-color: #ccc;
}

.btnDeletePost:hover {
    background-color: #ccc;
}

#userFile {
    width: 250px;
}

.courseGroupInfoAttend {
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    font-size: x-large;
    text-align: center;
}

.attendListSuccess {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: medium;
}

.img-fluid-attend {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.img-attenđetail {
    max-width: 300px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

section>.card {
    box-sizing: border-box;
}

.bg-section {
    background-color: #f1f0f0;
}

.tr-data:hover {
    background-color: #81bcf0;
}

.recogFace {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(116, 110, 223) 0%, rgb(168, 168, 233) 41%, rgb(158, 225, 238) 100%);
}
.select-Management-Attendances{
    border: 0.5px solid;
    border-radius: 10px;
}