@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
/* Bootstrap Icons */

#header {
    padding-bottom: 10px;
}

#carouselExampleCaptions {
    margin-bottom: 10px;
}

.card.shadow.border-0:hover {
    transform: rotate(10deg);
    background-color: rgb(139, 136, 140);
}

.carousel-item img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}