@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
/* Bootstrap Icons */

#header {
    padding-bottom: 10px;
}

#carouselExampleCaptions {
    margin-bottom: 10px;
}


.card.shadow.border-0 {
    opacity: 1;
    transition: opacity 0.6s ease;
}

.card-container:hover .card.shadow.border-0:not(:hover) {
    opacity: 0.4;
}

.card-container:hover .card.shadow.border-0:hover {
    opacity: 1;
    background-color: rgba(43, 149, 215, 0.433);
}

.carousel-item img {
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.h2.mb-0.ls-tight {
    font-family: 'Helvetica', Courier, monospace;
}

/* .btnToggleNavBar {
    position: relative;
    top: 200px;
    width: 40px;
    height: 10px;
    right: 30px;
    z-index: 9000;
    margin: 0;
}
.btnUsermanage{
    z-index: 9999;
} */
.chatBg {
    min-height: 100vh;
    background: linear-gradient(#596AFF, #383699);
}

.imgUserChat{
    width: 80px;
    height: 60px;
    border-radius: 5px;
}
